/* css imam */
#header{
    background-image: url(../project4/img1/header.jpg);
    height: 500px;
    background-attachment:fixed;
}
.container{
    color:#fff;
}
.row{
    padding-right: 40px;
}
.nav-link{
    color:#636060;
}
#teori{
    margin-top: 80px;
}
#konten1{
    background-color: #fff;
    height: 300px;
    margin-top:40px;
}
#garis{
    border-right: 1px solid black;
}
#pertama{
    margin-top: 80px;
    margin-bottom:50px;
}
.col-md-4 .card{
    border: none;
    border-right: 1px solid #dddddd;
    
}
#terakhir{
    border-right: none;
}
.card{
    line-height: 30px;
}
.active:hover{
    color:orange;
}
/* css dedy */



/* css dedy */
.jumbotron h1 {
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    text-align: center;

}

.container .card-deck #border1 {
    border-color: skyblue;
    background: transparent;
    height: 325px;
}

.container .card-deck h5 {
    color: black;

}

.container .card-deck .card #Shin-Chan{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.container .card-deck #border2 {
    border-color: skyblue;
    background: transparent;
    height: 325px;
}

.container .card-deck .card #Nobita {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 19px;
}

.container .card-deck #border3 {
    border-color: skyblue;
    background: transparent;
    height: 325px;
}

.container .card-deck .card #Dora {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .card-deck #border4 {
    border-color: skyblue;
    background: transparent;
    height: 325px;
}

.container .card-deck .card #Mario {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
